
.git
.gitignore

.vscode

.env

cmd

*.md

*.txt
*.json

Dockerfile

# vendor bundle is supplied rather than fetching deps.
# google cloud does not respect the "replace" in go.mod:
# replace github.com/gogo/protobuf => github.com/regen-network/protobuf
# so, vendor bundle is supplied instead.
go.mod

