# Default

* @evan-gray

# Chains

/algorand/ @evan-gray @kcsongor
/aptos/ @kcsongor @a5-pickle
/bitcoin/ @evan-gray
/cosmwasm/ @nik-suri @kcsongor @a5-pickle
/ethereum/ @a5-pickle @gator-boi @kcsongor
/ethereum/env/ @a5-pickle @gator-boi @kcsongor @evan-gray @bruce-riley
/relayer/ethereum @nonergodic @gator-boi
/near/ @evan-gray @kcsongor
/solana/ @kcsongor @a5-pickle
/sui/ @kcsongor @a5-pickle @gator-boi
/terra/ @kcsongor @a5-pickle
/wormchain/ @nik-suri

# Utilities

/clients/ @kcsongor @kev1n-peters @evan-gray
/lp_ui/ @evan-gray @kev1n-peters
/relayer/generic_relayer @nonergodic @gator-boi
/scripts/ @evan-gray @kcsongor
/sdk/ @bruce-riley @evan-gray @kev1n-peters @SEJeff
/sdk/js-proto-node/ @evan-gray @kev1n-peters
/sdk/js-proto-web/ @evan-gray @kev1n-peters
/sdk/js-query/ @evan-gray @kev1n-peters @bruce-riley
/sdk/js-wasm/ @evan-gray @kev1n-peters
/sdk/js/ @evan-gray @kev1n-peters @barnjamin @panoel
/sdk/rust/ @a5-pickle
/sdk/vaa/ @bruce-riley @SEJeff
/spydk/ @evan-gray
/testing/ @a5-pickle @evan-gray
/wormchain/contracts/tools/ @evan-gray @kev1n-peters @panoel
/wormchain/devnet/ @evan-gray @bruce-riley
/wormchain/ts-sdk/ @evan-gray @kev1n-peters @panoel
/deployments @evan-gray @kev1n-peters @panoel @bruce-riley

# Protobuf for node

/proto/node/ @evan-gray @bruce-riley

# Guardiand node

## Fallback

/node/ @bruce-riley @evan-gray @SEJeff

## Entrypoint / RPC

/node/cmd/ @bruce-riley @panoel @evan-gray

## DB

/node/pkg/db/ @bruce-riley @panoel

## Accountant

/node/pkg/accountant/ @bruce-riley @evan-gray @panoel

## Governor

/node/pkg/governor/ @bruce-riley @claudijd @SEJeff @djb15

## Gateway Relayer

/node/pkg/gwrelayer/ @bruce-riley @evan-gray @panoel

## P2P

/node/pkg/p2p/ @bruce-riley @evan-gray @panoel

## Consensus / Processor

/node/pkg/processor/ @bruce-riley @evan-gray @panoel

## Public RPC

/node/pkg/publicrpc/ @bruce-riley @panoel

## Supervisor Framework

/node/pkg/supervisor/ @bruce-riley @evan-gray

## Watchers

/node/pkg/watchers @evan-gray @bruce-riley @panoel

## Hacks / Tools

/node/hack/ @bruce-riley @panoel @evan-gray

## Documentation

/docs @evan-gray @barnjamin @SEJeff @bruce-riley
