# Default

* @evan-gray @djb15

# Chains

/algorand/ @evan-gray @kcsongor
/aptos/ @kcsongor @a5-pickle
/bitcoin/ @evan-gray
/cosmwasm/ @nik-suri @kcsongor @a5-pickle
/ethereum/ @a5-pickle @gator-boi @kcsongor
/ethereum/env/ @a5-pickle @gator-boi @kcsongor @evan-gray @bruce-riley
/relayer/ethereum @nonergodic @gator-boi
/near/ @evan-gray @kcsongor
/solana/ @kcsongor @a5-pickle
/sui/ @kcsongor @a5-pickle @gator-boi
/terra/ @kcsongor @a5-pickle
/wormchain/ @nik-suri @johnsaigle @mdulin2 @joelsmith-2019

# Utilities

/clients/ @kcsongor @kev1n-peters @evan-gray
/lp_ui/ @evan-gray @kev1n-peters
/relayer/generic_relayer @nonergodic @gator-boi
/scripts/ @evan-gray @kcsongor
/sdk/ @bruce-riley @evan-gray @kev1n-peters @panoel @SEJeff
/sdk/js-proto-node/ @evan-gray @kev1n-peters
/sdk/js-proto-web/ @evan-gray @kev1n-peters
/sdk/js-query/ @evan-gray @kev1n-peters @bruce-riley
/sdk/js-wasm/ @evan-gray @kev1n-peters
/sdk/js/ @evan-gray @kev1n-peters @panoel
/sdk/rust/ @a5-pickle
/sdk/vaa/ @bruce-riley @evan-gray @panoel @SEJeff
/spydk/ @evan-gray
/testing/ @a5-pickle @evan-gray
/wormchain/contracts/tools/ @evan-gray @kev1n-peters @panoel
/wormchain/devnet/ @evan-gray @bruce-riley
/wormchain/ts-sdk/ @evan-gray @kev1n-peters @panoel
/deployments @evan-gray @kev1n-peters @panoel @bruce-riley

# Protobuf for node

/proto/node/ @evan-gray @bruce-riley @panoel

# Guardiand node

## Fallback

/node/ @bruce-riley @evan-gray @panoel @SEJeff

## Entrypoint / RPC

/node/cmd/ @bruce-riley @panoel @evan-gray

## Transfer Verifier standalone tool

/node/cmd/txverifier/ @djb15 @johnsaigle @mdulin2 @pleasew8t

## DB

/node/pkg/db/ @bruce-riley @evan-gray @panoel

## Accountant

/node/pkg/accountant/ @bruce-riley @evan-gray @panoel

## Governor

/node/pkg/governor/ @SEJeff @djb15 @johnsaigle @mdulin2 @pleasew8t

## Gateway Relayer

/node/pkg/gwrelayer/ @bruce-riley @evan-gray @panoel

## P2P

/node/pkg/p2p/ @bruce-riley @evan-gray @panoel

## Consensus / Processor

/node/pkg/processor/ @bruce-riley @evan-gray @panoel

## Public RPC

/node/pkg/publicrpc/ @bruce-riley @evan-gray @panoel

## Supervisor Framework

/node/pkg/supervisor/ @bruce-riley @evan-gray @panoel

## Transfer Verifier

/node/pkg/txverifier/ @djb15 @johnsaigle @mdulin2 @pleasew8t

## Watchers

/node/pkg/watchers @evan-gray @bruce-riley @panoel

## Hacks / Tools

/node/hack/ @bruce-riley @panoel @evan-gray
/node/hack/governor @SEJeff @djb15 @johnsaigle @mdulin2 @pleasew8t

## Documentation

/docs @evan-gray @SEJeff @bruce-riley

## Audit Reports

/audits @djb15 @SEJeff @johnsaigle @mdulin2 @pleasew8t
