*.log
build
**/node_modules
/aptos/.aptos/**
.idea
.dccache
.arcconfig
*.iml
bin
target
/mutagen.sh
venv
.env
.env.hex
.env.0x
devnet-consts.json
!/scripts/devnet-consts.json
**/cert.pem
**/payer-mainnet.json
**/payer-testnet.json
**/payer-devnet.json
/solana/artifacts/
/terra/artifacts/
!/terra/artifacts/cw20_base.wasm
/cosmwasm/artifacts/
!/cosmwasm/artifacts/cw20_base.wasm
/solana/artifacts-testnet/
/solana/artifacts-devnet/
/solana/artifacts-mainnet/
/ethereum/out/
/ethereum/cache/
sui.log.*
sui/examples/wrapped_coin
*.prof
# Only used for internal testing
*.testnet.yaml
