[submodule "deps/spl-token"]
	path = deps/spl-token
	url = https://github.com/meta-introspector/spl-token.git
[submodule "deps/metaplex-program-library"]
	path = deps/metaplex-program-library
	url = https://github.com/meta-introspector/metaplex-program-library.git
[submodule "deps/cw20-legacy"]
	path = deps/cw20-legacy
	url = https://github.com/meta-introspector/cw20-legacy.git
