[package]
name = "wormhole-svm-definitions"
description = "Pubkeys and Account Definitions for Wormhole on SVM"
readme = "README.md"

edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = [ "standard-finality" ]
borsh = ["dep:borsh"]

### Network types
testnet = []
localnet = []
from-env = []

### Standard finality definition
standard-finality = []

### Specific networks
solana = [ "standard-finality" ]

[dependencies]
const-crypto = "0.3.0"
borsh = { optional = true, workspace = true }
cfg-if.workspace = true
sha2-const-stable.workspace = true
solana-program.workspace = true

[dev-dependencies]
base64.workspace = true
