node_modules
temp
build
dist
.DS_Store
package.ts

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

# tolk builtin stdlib
.stdlib

# test coverage artifacts
coverage

# gas snapshots
.snapshot

# scaffold plugin artifacts
dapp