vue/node_modules
vue/dist
vue/src/store/generated/
vue/
release/
testing/js/node_modules
!build
build/wormhole-chaind
build/wormchaind
build/data
devnet/wormchain-*/data
devnet/wormchain-*/config/*.toml
devnet/wormchain-*/config/addrbook.json
devnet/wormchain-*/config/genesis.json
ts-sdk/node_modules
ts-sdk/lib
contracts/artifacts

.idea
*.iml
