[toolchain]
anchor_version = "0.31.1"
solana_version = "2.1.20"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
delegated_manager_set = "wdmsTJP6YnsfeQjPuuEzGCrHmZvTmNy8VkxMCK8JkBX"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

## CORE BRIDGE TESTNET (Solana devnet)
### Wormhole Core Bridge Program (Testnet)
[[test.genesis]]
address = "3u8hJUVTA4jH1wYAyUur7FFZVQ8H635K3tSHHF4ssjQ5"
program = "tests/artifacts/testnet_core_bridge.so"

### Wormhole Core Bridge (Testnet) -- Config
[[test.validator.account]]
address = "6bi4JGDoRwUs9TYBuvoA7dUVyikTJDrJsJU1ew6KVLiu"
filename = "tests/accounts/core_bridge_testnet/config.json"

### Wormhole Core Bridge (Testnet) -- Guardian Set 0
[[test.validator.account]]
address = "dxZtypiKT5D9LYzdPxjvSZER9MgYfeRVU5qpMTMTRs4"
filename = "tests/accounts/core_bridge_testnet/guardian_set_0.json"

### Wormhole Verify VAA Shim Program (Testnet)
[[test.genesis]]
address = "EFaNWErqAtVWufdNb7yofSHHfWFos843DFpu4JBw24at"
program = "tests/artifacts/testnet_wormhole_verify_vaa_shim.so"
