SPY_SERVICE_HOST= change me (spyhost:port)
SPY_SERVICE_FILTERS= paste from emitterAddresses.json
SPY_NUM_WORKERS=5

REDIS_HOST= change me
REDIS_PORT= change me

REST_PORT=4201
PROM_PORT=8082
READINESS_PORT=2000

LOG_LEVEL=debug
SUPPORTED_TOKENS= paste from supportedTokens.json
