SUPPORTED_CHAINS= paste from supportedChains.json
REDIS_HOST= change me
REDIS_PORT= change me
PROM_PORT=8083
READINESS_PORT=2000
CLEAR_REDIS_ON_INIT=false
DEMOTE_WORKING_ON_INIT=true
LOG_LEVEL=debug
SIMULATED_TERRA_WALLET_ADDRESS= Requires a terra public address which will always have enough funds to pay for transactions. one of the hot wallets will do.
SUPPORTED_TOKENS= paste from supportedTokens.json. This must be the same as in the .env.listener file.
PRIVATE_KEYS= paste from privateKeys.json
