[package]
name = "wormhole-verify-vaa-shim-interface"
description = "Anchor Interface for Wormhole Verify VAA Shim"

edition.workspace = true
publish.workspace = true
rust-version.workspace = true
version.workspace = true

[lib]
crate-type = ["cdylib", "lib"]

[features]
cpi = ["no-entrypoint"]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
idl-build = ["anchor-lang/idl-build"]

[dependencies]
anchor-lang = { version = "0" }
wormhole-svm-definitions.workspace = true
