[toolchain]
anchor_version = "0.32.1"
solana_version = "3.1.7"

[features]
resolution = true
skip-lint = false

[programs.localnet]
verification_v2 = "GbFfTqMqKDgAMRH8VmDmoLTdvDd1853TnkkEwpydv3J6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run mocha -t 1000000 tests/**/*.test.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
# 6f2qai82RU7Dutj1WJfRzLJKYA36QWvTa89CR1imgj7N - this feature disables memory gaps.
# We disable it because we want to test execution like in devnet or mainnet.
# See https://github.com/anza-xyz/agave/blob/v3.1.7/feature-set/src/lib.rs
# Look for account_data_direct_mapping.
deactivate_feature = ["6f2qai82RU7Dutj1WJfRzLJKYA36QWvTa89CR1imgj7N"]
bind_address = "127.0.0.1"

[[test.genesis]]
name = "wormhole-core-v1"
address = "worm2ZoG2kUd4vFXhvjh93UUH596ayRfgQ2MgjNMTth"
program = "imports/wormhole.so"

[[test.genesis]]
name = "fake-wormhole-core-v1"
address = "fakjdvbwK6LYU8jwoixSA6Sw4EVmZzDAFFqshHCoRJi"
program = "imports/wormhole.so"