# =============================================================================
# RPC and Verification Configuration
# =============================================================================

RPC_URL=""

# Custom forge arguments for contract deployment
FORGE_ARGS=""

# Verifier settings (contracts must be manually verified if omitted)
# example VERIFY_ARGS="--verifier blockscout --verifier-url https://chain.blockscan.com/api"
VERIFY_ARGS=""

# =============================================================================
# Wormhole Core Contract Migrations
# =============================================================================

# These values are unlikely to change unless announced
INIT_SIGNERS=["0x13947Bd48b18E53fdAeEe77F3473391aC727C638"]
INIT_GOV_CHAIN_ID=0x1
INIT_GOV_CONTRACT=0x0000000000000000000000000000000000000000000000000000000000000004

# Wormhole chain ID
INIT_CHAIN_ID=

# EVM chain ID
INIT_EVM_CHAIN_ID=

# =============================================================================
# Bridge Contract Migrations -- Only required when WTT/TokenBridge is deployed
# =============================================================================

# These values are unlikely to change unless announced
BRIDGE_INIT_GOV_CHAIN_ID=0x1
BRIDGE_INIT_GOV_CONTRACT=0x0000000000000000000000000000000000000000000000000000000000000004
BRIDGE_INIT_FINALITY=1

# Add after Core Contract is deployed
WORMHOLE_ADDRESS=

# Wormhole chain ID
BRIDGE_INIT_CHAIN_ID=

# Wrapped ETH or wrapped gas token contract address
BRIDGE_INIT_WETH=
