[toolchain]
anchor_version = "0.31.1"
solana_version = "2.2.19"

[features]
resolution = true
skip-lint = false

[programs.localnet]
verification_v2 = "GbFfTqMqKDgAMRH8VmDmoLTdvDd1853TnkkEwpydv3J6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx mocha -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[test.validator]
# 1ncomp1ete111111111111111111111111111111111 - this feature disables memory gaps.
# We disable it because we want to test execution like in devnet or mainnet.
# See https://github.com/anza-xyz/agave/blob/v2.2.19/feature-set/src/lib.rs
deactivate_feature = ["1ncomp1ete111111111111111111111111111111111"]

[[test.genesis]]
name = "wormhole-core-v1"
address = "worm2ZoG2kUd4vFXhvjh93UUH596ayRfgQ2MgjNMTth"
program = "imports/wormhole.so"
